/*==
 *== Preview post card
 *== ======================================= ==*/

.post-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  box-shadow: 0 23px 49px 0 rgba(61, 82, 96, 0.15);

  a {
    color: currentColor;
  }

  &__preview {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    margin: 0;
    padding-bottom: percentage(235/360);
  }

  &__content {
    flex-grow: 1;
    padding: rhythm(1.25) rhythm(1.25) 0 rhythm(1.25);
  }

  &__footer {
    display: flex;
    align-items: center;
    padding: 0 rhythm(1.25) rhythm(1);
    color: #bfbfbf;
  }

  &__image {
    @include nn-absolute-stretch(0);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__datebox {
    @include margin-trailer(0.75);
  }

  &__title {
    @include margin-trailer(0.5);
    @include font(24px, 1.25);
    color: #191919;
    font-weight: 500;
  }

  &__tags {
    margin-right: auto;
  }

  &__author {
  }
}
