/*==
 *== Review card
 *== ======================================= ==*/

.review-card {
  padding: rhythm(1.25);
  border: 1px solid #ebebeb;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    @include margin-trailer(0.75);
    @include font(16px, 1);
    color: #595959;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__photo {
    @include size(rem(60px));
    margin-right: rhythm(0.5);
  }

  &__img {
    @include size(100%);
    border-radius: 100%;
    object-fit: cover;
  }

  &__author {
  }

  &__name {
    @include font(22px);
    font-weight: 500;
    color: #191919;
  }

  &__job {
    @include font(14px, 0.75);
    color: #bfbfbf;
  }
}
