/*==
 *== Service card
 *== ======================================= ==*/

.service-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;

  &__iconbox {
    @include size(rhythm(2));
    margin: 0 auto rhythm(1.5);
  }

  &__icon {
    @include size(100%);
  }

  &__title {
    @include font(22px, 1);
    margin: 0;
  }

  &__description {
    color: #707070;
  }

  &__title + &__description {
    @include margin-leader(0.5);
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    @include margin-leader(1);
    height: rhythm(2);
  }
}
