/*==
 *== Site Header
 *== ======================================= ==*/

.site-header {
  @include rhythm-padding($site-header-padding);
  position: fixed;
  z-index: $z-site-header;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.4s;
  color: $site-header-color;
  border-bottom: 1px solid transparent;
  background-color: $site-header-bg;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

  &__container {
    @include make-container();
    @include make-container-max-widths();
    display: flex;
    align-items: center;
  }

  &__brand {
    @include font(34px, 1);
    height: rhythm($site-header-height);
    margin-right: auto;
    transition: font-size 0.3s ease;
  }

  //==
  //== Transparent header
  //== ======================================= ==//

  .header-transparent & {
    border-bottom-color: rgba(255, 255, 255, 0.1);
    background-color: transparent;
    box-shadow: none;
  }


  //==
  //== Sticky header
  //== ======================================= ==//

  &.is-sticky {
    @include rhythm-padding(0.5);
    border-bottom-color: transparent;
    background-color: $site-header-bg;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  }

  &.is-sticky &__brand {
    @include font(28px);
    font-weight: 400;
  }
}
