/*==
 *== Tags
 *== ======================================= ==*/

.tags {
  display: flex;
  flex-wrap: wrap;

  .tag {
    @include rhythm-margins(0.25);
    margin-right: rhythm(0.25);
  }
}

.tag {
  @include font(12px, 0.5);
  font-weight: 500;
  text-transform: uppercase;
  background-color: #eff1f4;
  padding: rhythm(0.25) rhythm(0.5);
  border-radius: 15px;
  display: inline-block;
  vertical-align: bottom;
  color: $color-muted;
  text-decoration: none;
}
