/*==
 *== Section skills
 *== ======================================= ==*/

.s-skills {
  background-image: url("/design/images/misc/b1.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 50% auto;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

  @include media-breakpoint-up(xl) {
    background-size: 500px auto;
  }

  &__container {
    @include rhythm-padding(0, $section-vertical-padding);
  }

  &__bar {
    @include margin-trailer(1.5);
  }

  &__footer {
    @include margin-leader(2);
  }
}
