/*==
 *== buttons
 *== ======================================= ==*/

.btn {
  @include nn-make-button-base();
  @include nn-make-button-size(0.5, 1.5, 13px, 0.75, 100px);
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;

  //==
  //== Primary theme
  //== ======================================= ==//

  &_primary {
    @include nn-make-button-theme(
      $normal: (background: $btn-primary-bg, color: #000),
      $hover: (color: #000)
    );
  }

  &_primary-o {
    @include nn-make-button-theme(
      $normal: (background: transparent, border-color: $btn-primary-bg, color: $btn-primary-bg),
      $hover: (background: $btn-primary-bg, border-color: $btn-primary-bg)
    );
  }

  &_primary-light {
    @include nn-make-button-theme(
      $normal: (background: #fff, border-color: #fff),
      $hover: (background: $btn-primary-bg, border-color: $btn-primary-bg)
    );
  }

  &_primary-link {
    @include nn-make-button-theme(
      $normal: (background: transparent, border-color: transparent)
    );
  }
}
