/*==
 *== Section
 *== ======================================= ==*/

.section {
  position: relative;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__container {
    @include rhythm-padding($section-vertical-padding-small);
  }

  &__heading {
    @include font(30px, 1.5);
    @include margin-trailer(1);
  }

  &__subheading {
    @include font(18px, 1);
    @include margin-trailer(2.5);
  }

  &__heading + &__subheading {
    @include margin-leader(-0.5);
  }

  &__main {
    @include margin-leader(2.5);
  }

  &_bg_strip {
    background-color: $color-strip;
  }

  &_bg_primary {
    color: #fff;
    background-color: $color-primary-darken;

    .h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
      color: #fff;
    }
  }

  @include media-breakpoint-up(md) {
    &__container {
      @include rhythm-padding($section-vertical-padding-medium);
    }
    &__heading {
      @include font(42px, 2);
    }
  }

  @include media-breakpoint-up(xl) {
    &__container {
      @include rhythm-padding($section-vertical-padding);
    }
    &__heading {
      @include font(42px, 2);
    }
  }
}
