/*==
 *== Site layout
 *== ======================================= ==*/

.site {
  $computed-site-header-height: $site-header-padding * 2 + $site-header-height;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    width: 100%;
    height: rhythm($computed-site-header-height);
  }

  &__main {
    position: relative;
    flex-grow: 1;
    width: 100%;
    padding-top: rhythm($computed-site-header-height);
  }

  &__footer {
    width: 100%;
  }

  .header-no-compensate-height & {
    &__header {
      height: auto;
    }

    &__main {
      padding-top: 0;
    }
  }
}
