/*==
 *== Typography
 *== ======================================= ==*/

%type-margins {
  margin: rem(20px) 0;
}

p {
  @extend %type-margins;
}

hr {
  @extend %type-margins;
}

address {
  @extend %type-margins;
}

ol, ul, dl {
  margin: 0 0 em(20px);

  &[class] {
    padding: 0;
    list-style: none;
  }
}

blockquote {
  @extend %type-margins;
  padding: em(25px);
  background-color: #f7f7f7;
  border-left: 2px solid #cbd1dc;
}

pre {
  @extend %type-margins;
  @include font(15px, 1);
  color: #212529;
  background: #eee;
  max-width: 100%;
  padding: 1.6em;
}

code {
  color: #e83e8c;
  word-break: break-word;
}

kbd {
  padding: .2rem .4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: .2rem;

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700;
  }
}

img {
  max-width: 100%;
}

/*==
 *== Type: headings
 *== ======================================= ==*/

@include nn-headings() {
  font-weight: 500;
  color: #191919;
}
