/*==
 *== Web fonts
 *== ======================================= ==*/

$use-webfont-settings: (
  font-display: swap
);

$uwf-prefix: 'subset-FiraSans-';
$uwf-path: '../fonts/FiraSans/';
$uwf-formats: (woff2, woff);

@include use-webfont('Fira Sans', 400, normal, 'Regular', $uwf-prefix, $uwf-path, $uwf-formats);
@include use-webfont('Fira Sans', 400, italic, 'Italic', $uwf-prefix, $uwf-path, $uwf-formats);
@include use-webfont('Fira Sans', 500, normal, 'Medium', $uwf-prefix, $uwf-path, $uwf-formats);
@include use-webfont('Fira Sans', 500, italic, 'MediumItalic', $uwf-prefix, $uwf-path, $uwf-formats);
@include use-webfont('Fira Sans', 600, normal, 'SemiBold', $uwf-prefix, $uwf-path, $uwf-formats);
@include use-webfont('Fira Sans', 600, italic, 'SemiBoldItalic', $uwf-prefix, $uwf-path, $uwf-formats);
@include use-webfont('Fira Sans', 700, normal, 'Bold', $uwf-prefix, $uwf-path, $uwf-formats);
@include use-webfont('Fira Sans', 700, italic, 'BoldItalic', $uwf-prefix, $uwf-path, $uwf-formats);
