//==
//== Config
//== ======================================= ==//

$MAX_INT32: 2147483647;

$z-index-base: $MAX_INT32 - 100;

$z-grid-guides: $z-index-base + 1;
$z-debugger-panel: $z-index-base + 2;
$z-main-button: $z-index-base + 3;

$main-button-size: 80px;

$dev-grid-guides-color: rgba(#4affff, 0.4);
