<h2>Gulp SVG Sprites <small>(<%= svg.length %> icons in &lt;symbol&gt; mode)</small></h2>
<p>Files Generated: <code>{{system.config.svgSpritePath}}<%= config.svg.symbols %></code></p>
<p>Example:</p>
{% srccode %}
<svg class="iconClass iconClass-name"><use xlink:href="/path/to/<%= config.svg.symbols %>#name"></use></svg>
{% endsrccode %}

<div class="ui-demo-icons">
    <% _.forEach(svg, function(svgItem) { %>
    <div class="ui-demo-icon">
        <div class="ui-demo-icon__icon icon-box" title="<%= svgItem.name %>">
            {{svgIcon('<%= svgItem.name %>')}}
        </div>
        <div class="ui-demo-icon__title"><%= svgItem.name %></div>
    </div>
    <% }); %>
</div>
