//==
//== General config
//== ======================================= ==//

$color-primary: #f0437e;
//$color-primary: #ff6b7e;
//$color-primary: #37c9df;
$color-primary: #34d986;
$color-secondary: #6c757d;
$color-secondary: #171b6c;

$color-primary-darken: adjust_hue(desaturate(darken($color-primary, 10%), 10%), -6); //#df2176;

$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-light: #f8f9fa;
$color-dark: #343a40;

$color-muted: #a7a7a7;
$color-strip: #f7f7f7;

$btn-primary-bg: $color-primary; //-darken; //#dc2276;
$progress-bar-active: $color-primary;

$section-vertical-padding: 4;
$section-vertical-padding-medium: 3;
$section-vertical-padding-small: 2;

$site-header-padding: 1;
$site-header-height: 1;
$site-header-bg: rgba(#13151d, 0.95);
$site-header-color: #fff;
