$rhythm-grid-baseline-color: rgba(#4affff, 0.6);
$rhythm-grid-baseline-height: 1.5em;
$rhythm-grid-baseline-show: true;
$rhythm-grid-show: true;
$rhythm-base-font-size: 16px;
$rhythm-base-line-height: 24px;
$rhythm-unit: 'rem';
$rhythm-rem-with-px-fallback: false;
$rhythm-default-border-width: 1px;
$rhythm-default-border-style: solid;
$rhythm-round-to-nearest-half-line: false;
$rhythm-min-line-padding: 2px;
